/EF-Starter.tab/**
/lib/**
/hooks/**
/bin/**

# --- Ignore everything under PD.tab by default ---
/PD.tab/**

# --- Re-open PD.tab so Git can descend into it ---
!/PD.tab/

# --- Whitelist the PANELS (unignore their dirs + contents) ---
!/PD.tab/Coordinates.Panel/
!/PD.tab/Coordinates.Panel/**

!/PD.tab/Delete.Panel/
!/PD.tab/Delete.Panel/**

!/PD.tab/Drawing.panel/
!/PD.tab/Drawing.panel/**

!/PD.tab/Edit.Panel/
!/PD.tab/Edit.Panel/**

!/PD.tab/Export.Panel/
!/PD.tab/Export.Panel/**

!/PD.tab/HealthCheck.Panel/
!/PD.tab/HealthCheck.Panel/**

!/PD.tab/Rename.Panel/
!/PD.tab/Rename.Panel/**

!/PD.tab/Transfer.Panel/
!/PD.tab/Transfer.Panel/**


!/.gitignore
!/README.md
/.idea/
*.iml
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
*.log
*.tmp
~$*
